{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home:home' %}">
    <div class="sidebar-brand-icon">
      <!-- <i class="fas fa-laugh-wink"></i> -->
      <img width="32px" src="{% static 'img/duck.png' %}" alt="logo">
    </div>
    <div class="sidebar-brand-text mx-3">MovieDuck</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item {% if request.resolver_match.view_name == 'movies:movie_list' %}active{% endif %}">
    <a class="nav-link" href="{% url 'movies:movie_list' %}">
      <i class="fas fa-fw fa-ticket-alt"></i>
      <span>Movies</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  
  <li class="nav-item {% if request.resolver_match.view_name == 'registration:profile' %}active{% endif %}">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-user"></i>
      <span>User</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'registration:profile' %}">Profile</a>
        <a class="collapse-item" href="{% url 'registration:account' %}">Account settings</a>
        <div class="collapse-divider"></div>
        <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item {% if request.resolver_match.view_name == 'home:about' %}active{% endif %}">
    <a class="nav-link" href="{% url 'home:about' %}">
      <i class="fas fa-fw fa-address-card"></i>
      <span>About</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>