{% extends 'base.html' %}
{% load static %}
{% load usercontent_interact %}

{% block title %}Details for {{ movie }}{% endblock %}

{% block content %}

<div class="container">

    <!-- Movie Info Container -->
    <div class="row">

      <!-- Movie Info -->
      <div class="col-12">
        <div class="row">
          <h1 class="text-white">{{ movie }}</h1>
          <div class="mt-2 ml-2">
            <span class="badge badge-secondary">{{ movie.rating }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-lg-6 pl-0">

            <!-- SUMMARY, GENERES, AND POSTER -->
            <div class="media">
              <img
                class="mr-3"
                src="{{ movie.poster.url }}"
                alt="Poster for {{ movie }}"
                style="width:200px;height:auto;"
              >
              <div class="media-body">
                <h4 class="text-white">Summary</h4>
                <p>{{ movie.summary }}</p>
                <h4 class="text-white">Generes</h4>
                {% for genere in movie.generes.all %}
                  <span>{{genere.name}}</span>{% if not forloop.last %},{% endif %}
                {% endfor %}
              </div>
            </div>
            
            <!-- Movie Screenshots -->
            <h4 class="text-white mt-2">Screenshots</h4>
            <div id="movieDetailCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for screenshot in movie.screenshots.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ screenshot.image.url }}" class="d-block w-100" alt="{{ screenshot }}">
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#movieDetailCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#movieDetailCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- End of Movie Screenshots -->

            <!-- PEOPLE -->
            <div style="display:flex;flex-wrap:wrap;justify-content">
              <div class="mr-5">
                <h4 class="text-white mt-2">Director</h4>
                <div style="display:flex;flex-wrap:wrap;">
                  {% with person=movie.director %}
                    {% include 'movies/portrait.html' %}
                  {% endwith %}
                </div>
              </div>

              <div class="mr-5">
                <h4 class="text-white mt-2">Producers</h4>
                <div style="display:flex;flex-wrap:wrap;">
                  {% for person in movie.producers.all %}
                    {% include 'movies/portrait.html' %}
                  {% endfor %}
                </div>
              </div>

              <div class="mr-5">
                <h4 class="text-white mt-2">Writers</h4>
                <div style="display:flex;flex-wrap:wrap;">            
                  {% for person in movie.writers.all %}
                    {% include 'movies/portrait.html' %}
                  {% endfor %}
                </div>
              </div>

              <div class="mr-5">
                <h4 class="text-white mt-2">Stars</h4>
                <div style="display:flex;flex-wrap:wrap;">
                  {% for person in movie.stars.all %}
                    {% include 'movies/portrait.html' %}
                  {% endfor %}
                </div>
              </div>

              <div class="mr-5">
                <h4 class="text-white mt-2">Cast</h4>
                <div style="display:flex;flex-wrap:wrap;">
                  {% for person in movie.stars.all %}
                    {% include 'movies/portrait.html' %}
                  {% endfor %}
                  {% for person in movie.cast.all %}
                    {% include 'movies/portrait.html' %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- End of Movie Info -->

          <!-- Reviews -->
          <div class="col-12 col-lg-6 pl-0">
            <h4 class="text-white">Reviews</h4>
              {% if movie|already_reviewed_by:user is not True %}
              <hr>
              <h4>Got something to say? Write your own review!</h4>
              <form action="{{ movie.create_review_url }}" method="post">
                {% csrf_token %}
                {{ view.review_form.as_p }}
                <button class="btn btn-success" type="submit">
                  <i class="fas fa-paper-plane"></i>
                  Submit Review
                </button>
              </form>
              {% endif %}
              {% for review in movie.reviews.all %}
                {% include 'movies/review.html' %}
              {% empty %}
                <hr>
                <h4 class="my-3">No reviews yet!</h4>
              {% endfor %}
          </div>
          <!-- End of Reviews -->
        </div>
      </div>

    </div>
    <!-- End of Movie Info Container -->
  </div>
  <script type="text/javascript">
    const toggle_like_status = id => {
      const like_button = document.getElementById(id);
      const like_button_text = like_button.getElementsByTagName("span")[0];
      const like_count = parseInt(like_button_text.innerHTML)
      like_button.classList.toggle("btn-primary");
      like_button.classList.toggle("btn-secondary");
      if (like_button.classList.contains("btn-primary"))
        like_button_text.innerHTML = like_count + 1;
      else
        like_button_text.innerHTML = like_count - 1;
    }
  </script>
{% endblock %}
