<div class="mr-3" style="width:100px;">
	<img
		style="width:100px;height:178px;object-fit:cover;"
		src="{{ person.portrait.url }}"
		alt="Portrait of {{ person.name }}"
	>
	<p class="text-center">{{ person.name }}</p>
</div>
