{% load usercontent_interact %}
<hr>
<div id="review{{ review.pk }}" class="media">
	<img
		class="mr-3"
		src="{{ review.create_user.profile.avatar.url }}"
		alt="Avatar of {{ review.create_user.username }}"
		style="width:100px;height:auto;"
	>
	<div class="media-body">
		<h2 class="mt-0">
			{{ review.create_user.username }} says...
			<small class="text-muted">{{ review.score }}/10</small>
		</h2>
		<p class="lead">"{{ review.summary }}"</p>
		<p>{{ review.body }}</p>
		<div class="my-3">
			<a href="{{ review.review_detail_page_url }}" class="btn btn-link">
				<i class="fas fa-comment-alt"></i>
				See replies...
			</a>
		</div>
	</div>
</div>
